{% load static %}

<!-- Header
		    ================================================== -->
<header>
    <div class="logo-box">
        <a class="logo" href="#!"><img alt="" src=" {% static 'images/glogo-01.png' %} "></a>
    </div>

    <a class="elemadded responsive-link workcat" href="#">Work Category <i class="fa fa-chevron-down" aria-hidden="true"
            style="padding-left: 20px;"></i></a>

    <div class="menu-box ">
        <ul class="menu">
            <li><a class="active " href="{% url 'web:index' %}" style="color:black;"><span>Home</span></a></li>
        </ul>
        <br>
           
            <ul class="filter">
                <li><a onclick="visiosec('#home')" class="active all"
                        style="color:white; padding-right: 32px;text-decoration: none;" data-filter="*"><span>All</span></a>
                </li>
                {% for category in category %}
    
                <li><a href="#" class="active hidden-mobile " data-filter=".{{category.title|slugify}}"
                    style="color:white;padding-right: 32px;text-decoration: none;"><span>{{category.title}}</span></a>
                </li>

                <li><a href="#" class="active elemadded hidden-lg" data-filter=".{{category.title|slugify}}"
                        style="color:white;padding-right: 32px;text-decoration: none;"><span>{{category.title}}</span></a>
                </li>
    
                {% endfor %}
    
    
    
    
            </ul>
       
        
    </div>




</header>
<!-- End Header -->



<script>
    function visiosec(home) {
        localStorage.setItem('apmnt', home)
        location.href = '/'
    }


</script>
