{% extends 'partials/base2.html' %}
{% load static %}
{% block content %}


<style>
	   @media (min-width: 375px) and (max-width: 769px) {

		.text{
			width: 250px;
		}
	}
		@media (min-width: 769px) {

		.text{
			width: 442px;
		}
	   }
	
</style>

	<!-- Container -->
	<div id="container">

		<!-- content 
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="single-project">

					<div class="single-box">
						<div class="single-box-content">
							<div class="project-post-content">

								<div class="flexslider">
									<ul class="slides">

										
										<li>
											<img alt="" src=" {{works.image1.crop.422x303}}" />
										</li>
										<li>
											{% if works.image2 %}
											<img alt="" src=" {{works.image2.crop.422x303}}" />
											{% else %}
											<img alt="" src=" {{works.image1.crop.422x303}}" />
											{% endif %}
										</li>
										<li>
											{% if works.image3 %}
											<img alt="" src=" {{works.image3.crop.422x303}}" />
											{% else %}
											<img alt="" src=" {{works.image1.crop.422x303}}" />
											{% endif %}
										</li>
										<li>
											{% if works.image4 %}
											<img alt="" src=" {{works.image4.crop.422x303}}" />
											{% else %}
											<img alt="" src=" {{works.image1.crop.422x303}}" />
											{% endif %}
										</li>
										
										
									
									</ul>
								</div>
							
								<div class="project-text">
									<h1>{{works.project_name}}</h1>
									<p>{{works.details}}</p>			
								</div>

								
							</div>						
						</div>
						<div class="sidebar">
							<div class="post-info">
								<h1>Project Info</h1>
								<ul>
									
									<li>
										<span><i class="fa fa-star"></i></span><a href="#">{{ works.category }}</a>
									</li>
									<li>
										<span><i class="fa fa-star"></i></span><a href="{{works.link}}" target="_blank">{{works.link}}</a>
									</li>
									
										
									
								</ul>
								<p ><span><i class="fa fa-star" style="    padding-top: 13px; padding-left: 9px; padding-right: 9px; color: #fdc010;"></i> More info</span>{{works.info|safe}}</p>
							</div>
							<div class="container my-0">
					
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">
											Add a Note
						
										</h5>
										<div class="form-group">
											<textarea class="form-control text" id="addTxt" rows="3">
											</textarea>
										</div>
										<button class="btn btn-secondary" id="addBtn" style="background-color:black;color: white;">
											Add Note
										</button>
									</div>
								</div>
								<hr>
								<h4>Your Notes</h4>
								<hr>
						
								<div id="notes" class="row container-fluid" >
								</div>
							</div><br><br><br>
							
							
							<div class="similar-projects">
								<h1>Similar Projects</h1>
								<div class="portfolio-box">
									{% for work in similar %}
									<div class="project-post">
										<img alt="" src=" {{work.image1.crop.221x170}} ">
										<div class="hover-box">
											<div class="project-title">
												<h2>{{work.project_name}}</h2>
												<span>{{work.category}}</span>
												<div><a href="{% url 'web:Details' works.category.id %}"><i class="fa fa-arrow-right"></i></a></div>
											</div>
										</div>
									</div>
									{% endfor %}
									
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->



	<div class="info-box">
		<a class="info-toggle" href="#"><i class="fa fa-info-circle"></i></a>
		<div class="info-content">
			<ul>
				<li><i class="fa fa-phone"></i>+91 9847520679</li>
				<li><i class="fa fa-envelope"></i><a href="#">contact@gedexo.com</a></li>
				<li><i class="fa fa-home"></i>Kurupath, Kondotty </li>
			</ul>
		</div>
	</div>

	<div class="preloader">
		<img alt="" src="images/preloader.html">
	</div>





	<script>
		showNotes();
	
		// If user adds a note, add it to the localStorage
		let addBtn = document.getElementById("addBtn");
		addBtn.addEventListener("click", function (e) {
			let addTxt = document.getElementById("addTxt");
			let notes = localStorage.getItem("notes");
	
			if (notes == null) notesObj = [];
			else notesObj = JSON.parse(notes);
	
			notesObj.push(addTxt.value);
			localStorage.setItem("notes", JSON.stringify(notesObj));
			addTxt.value = "";
	
			showNotes();
		});
	
		// Function to show elements from localStorage
		function showNotes() {
			let notes = localStorage.getItem("notes");
	
			if (notes == null) notesObj = [];
			else notesObj = JSON.parse(notes);
	
			let html = "";
	
			notesObj.forEach(function (element, index) {
				html += `<div class="noteCard my-2 mx-2 card"
				style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">
							Note ${index + 1}
						</h5>
						<p class="card-text">
							${element}
						</p>
	
					<button id="${index}" onclick=
						"deleteNote(this.id)"
						class="btn btn-danger"><i class="fa fa-trash-o"></i>
						
					</button>
				</div>
			</div>`;
			});
	
			let notesElm = document.getElementById("notes");
	
			if (notesObj.length != 0) notesElm.innerHTML = html;
			else
				notesElm.innerHTML = `Nothing to show!
			Use "Add a Note" section above to add notes.`;
		}
	
		// Function to delete a note
		function deleteNote(index) {
			let notes = localStorage.getItem("notes");
	
			if (notes == null) notesObj = [];
			else notesObj = JSON.parse(notes);
	
			notesObj.splice(index, 1);
	
			localStorage.setItem("notes",
				JSON.stringify(notesObj));
	
			showNotes();
		}
	

		
	</script>
	
{% endblock %}