{% extends 'partials/base.html' %}
{% load static %}
{% block content %}





<!-- Container -->

<div id="container">



		<!-- content 
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="portfolio-page">
					<div class="portfolio-box">

						{% for works in work %}

						<div class="project-post {{works.category.title|slugify}}">
							<img alt="" src=" {{works.image1.crop.267x205}} ">
							<div class="hover-box">
								<div class="project-title">
									<h2>{{works.project_name}}</h2>
									<span>{{works.category}}</span>
									<div><a href="{% url 'web:Details' works.id %}"><i class="fa fa-arrow-right"></i></a></div>
								</div>
							</div>
						</div>

						{% endfor %}

						

					</div>
				</div>
			</div>
		</div>
		<!-- End content -->

</div>

<!-- End Container -->

	<div class="info-box">
		<a class="info-toggle" href="#"><i class="fa fa-info-circle"></i></a>
		<div class="info-content">
			<ul>
				<li><i class="fa fa-phone"></i>+91 9847520679</li>
				<li><i class="fa fa-envelope"></i><a href="#">contact@gedexo.com</a></li>
				<li><i class="fa fa-home"></i>Kurupath, Kondotty, </li>
			</ul>
		</div>
	</div>

	<div class="preloader">
		<img alt="" src="images/preloader.html">
	</div>


{% endblock %}